apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "celery.fullname" . }}
  namespace: meshdb
  labels:
    {{- include "celery.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "celery.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        admission.datadoghq.com/python-lib.version: v2.17
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "celery.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        {{- range .Values.containers }}
        - name: {{ .name }}
          securityContext:
            {{- toYaml $.Values.securityContext | nindent 12 }}
          image: "{{ $.Values.image.repository }}:{{ $.Values.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ $.Values.image.pullPolicy }}
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
          command: {{ toJson .command }}
          env:
          - name: DD_SERVICE
            value: celery 
          # TODO (willnilges): Fix this in a later PR. Computers
          #  https://github.com/nycmeshnet/meshdb/issues/519
          envFrom:
            - configMapRef:
                name: meshdbconfig
            - secretRef:
                name: meshdb-secrets
          {{- if .livenessProbe }}
          livenessProbe:
            {{- toYaml .livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .readinessProbe }}
          readinessProbe:
            {{- toYaml .readinessProbe | nindent 12 }}
          {{- end }}
      {{- end }}
