apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "meshdb.fullname" . }}-meshweb
  namespace: {{ .Values.meshdb_app_namespace }}
  labels:
    {{- include "meshdb.labels" . | nindent 4 }}
spec:
  replicas: 3
  selector:
    matchLabels:
      {{- include "meshdb.selectorLabels" . | nindent 6 }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  template:
    metadata:
      annotations:
        admission.datadoghq.com/python-lib.version: v2.12
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app: meshdb-meshweb-app
        {{- include "meshdb.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      securityContext:
        {{- toYaml .Values.meshweb.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-meshweb
          securityContext:
            {{- toYaml .Values.meshweb.securityContext | nindent 12 }}
          image: "{{ .Values.meshweb.image.repository }}:{{ .Values.meshweb.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.meshweb.port }}
              protocol: TCP
          envFrom:
            - configMapRef:
                name: meshdbconfig
            - secretRef:
                name: meshdb-secrets
          volumeMounts:
            - name: static-content-vol
              mountPath: /opt/meshdb/static
          {{ if eq .Values.meshweb.liveness_probe "true" }}
          livenessProbe:
            exec:
              command:
                - bash
                - -c
                - 'curl http://127.0.0.1:{{ .Values.meshweb.port }}/api/v1/ -H "Host: db.nycmesh.net" -s | grep meshin'
            periodSeconds: 3
            initialDelaySeconds: 30
            timeoutSeconds: 3
          {{ end }}
          {{ if eq .Values.meshweb.readiness_probe "true" }} 
          readinessProbe:
            exec:
              command:
                - bash
                - -c
                - 'curl http://127.0.0.1:{{ .Values.meshweb.port }}/api/v1/ -H "Host: db.nycmesh.net" -s | grep meshin'
            periodSeconds: 3
            initialDelaySeconds: 20
            timeoutSeconds: 3
          {{ end }}
          resources:
            {{- toYaml .Values.meshweb.resources | nindent 12 }}
      volumes:
        - name: static-content-vol
          persistentVolumeClaim:
            claimName: {{ .Values.meshweb.static_pvc_name }}
      {{- with .Values.meshweb.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.meshweb.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.meshweb.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
