apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: {{ .Values.meshdb_app_namespace }}
data:
  nginx.conf: |
    server {
      listen {{ .Values.nginx.port }};
      server_name {{ .Values.nginx.server_name }};

      access_log /var/log/nginx/access.log;
      error_log /var/log/nginx/error.log debug;

      location = /favicon.ico { access_log off; log_not_found off; }
      location /static/ {
          root /var/www/html;
      }

      location / {
        proxy_pass http://{{ include "meshdb.fullname" . }}-meshweb.{{ .Values.meshdb_app_namespace }}.svc.cluster.local:{{ .Values.meshweb.port }}/;
        #proxy_set_header Host $host;
        proxy_set_header Host {{ .Values.nginx.server_name }};
        #proxy_set_header X-Real-IP $remote_addr;
        #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #proxy_redirect off;
      }
    }

