apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.pg.pvc_name }}
  namespace: {{ .Values.meshdb_app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-crypto-global
  resources:
    requests:
      storage: {{ .Values.pg.pvc_size }}