apiVersion: v1
kind: Secret
metadata:
  name: meshdb-secrets
  namespace: {{ .Values.meshdb_app_namespace }}
type: Opaque
data:
  postgres-password: {{ .Values.pg.password | b64enc | quote }}
  postgres-password-ro: {{ .Values.pg.password_ro | b64enc | quote }}
  aws-access-key-id: {{ .Values.aws.access_key_id | b64enc | quote }}
  aws-secret-access-key: {{ .Values.aws.secret_access_key | b64enc | quote }}
  smtp-password: {{ .Values.email.smtp_password | b64enc | quote }}
  django-secret-key: {{ .Values.meshweb.django_secret_key | b64enc | quote }}
  nn-assign-psk: {{ .Values.meshweb.nn_assign_psk | b64enc | quote }}
  query-psk: {{ .Values.meshweb.query_psk | b64enc | quote }}
  uisp-pass: {{ .Values.uisp.psk | b64enc | quote }}
  pano-github-token: {{ .Values.meshweb.pano_github_token | b64enc | quote }}
  slack-webhook: {{ .Values.meshweb.slack_webhook | b64enc | quote }}
  slack-join-webhook: {{ .Values.meshweb.slack_join_webhook | b64enc | quote }}
  osticket-api-token: {{ .Values.meshweb.osticket_api_token | b64enc | quote }}
  website-map-build-webhook-url: {{ .Values.celery.website_map_build_webhook_url | b64enc | quote }}