{% load static %}

<footer style="margin-top: auto; flex-grow: 0;">
  <div class="container-fluid max-width-container pt-5">
    <div class="row">
      <div class="col-md-3 mb-5">
        <img src="{% static logo %}" width="45px" style="padding-right: 10px" />
        <a class="navbar-brand" href="https://www.nycmesh.net/"><strong>NYC Mesh</strong></a>
      </div>
      <div class="col-md-2">
        <h5 class="footer-heading">Community</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://slack.nycmesh.net" class="text-muted">Slack</a>
          </li>
          <li>
            <a href="https://meetup.com/nycmesh" class="text-muted">Meetup</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/volunteer" class="text-muted">Volunteer</a>
          </li>
          <li>
            <a href="https://us9.campaign-archive.com/home/?u=cf667149616fd293afa115f5a&amp;id=ebe72854f3"
              class="text-muted">Newsletter</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/blog" class="text-muted">Blog</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/coc" class="text-muted">Code of Conduct</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-heading">Network</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://stats.nycmesh.net" class="text-muted">Stats</a>
          </li>
          <li>
            <a href="https://wiki.nycmesh.net/books/5-networking/page/peering#bkmrk-page-title" class="text-muted">Peering</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/sponsors" class="text-muted">Sponsors</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-heading">Resources</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.nycmesh.net/faq" class="text-muted">FAQ</a>
          </li>
          <li>
            <a href="https://wiki.nycmesh.net" class="text-muted" target="_">Docs/Wiki</a>
          </li>
          <li>
            <a href="https://los.nycmesh.net" class="text-muted" target="_">Line of Sight</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/presentations" class="text-muted">Presentations</a>
          </li>
          <li>
            <a href="https://wiki.nycmesh.net/books/4-organization-mission/page/outreach-materials#bkmrk-page-title" class="text-muted" target="_">Outreach</a>
          </li>
          <li>
            <a href="https://www.nycmesh.net/pay" class="text-muted" target="_">Install Payment</a>
          </li>
          <li>
            <a href="https://github.com/WillNilges/cursed-status-page" class="text-muted">GitHub</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-heading">Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://mastodon.nycmesh.net/@mesh" class="text-muted">Mastodon</a>
          </li>
          <li>
            <a href="https://bsky.app/profile/nycmesh.bsky.social" class="text-muted">Bluesky</a>
          </li>
          <li>
            <a href="https://www.threads.net/@nycmesh" class="text-muted">Threads</a>
          </li>
          <li>
            <a href="https://www.youtube.com/@nycmesh" class="text-muted">YouTube</a>
          </li>
          <li>
            <a href="https://www.facebook.com/nycmesh" class="text-muted">Facebook</a>
          </li>
          <li>
            <a href="https://www.instagram.com/nycmesh" class="text-muted">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
