{% load static %}

<!DOCTYPE html>
<html>
<!--xxx (wdn): Can I avoid duplicating this header?-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Maintenance Mode</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="shortcut icon" href="{% static 'meshweb/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'meshweb/styles.css' %}" />
</head>
<body>
  <div style="width:100%; display:flex; justify-content: center; flex-grow: 1; align-items: center;">
    <div style="display:flex; flex-direction:column; align-items: center; margin-top: 50px; padding-bottom: 4rem;"
      class="px-5 max-width-container">
      <img src="{% static 'meshweb/meshdb.png' %}" height="300px" style="margin: 30px 0"/>
      <h1><a href="{% url 'main' %}">MeshDB</a> is in Maintenance Mode.</h1>
      <h2>{{ message }}</h2>
      {% if redirect != "" %}
      <meta http-equiv="refresh" content="1;url={% url redirect %}" />
      {% endif %}
    </div>
  </div>
</body>
</html>
