{% load static %}

<!DOCTYPE html>
<head>
  {% include "meshweb/head.html" %}
  <link rel="stylesheet" href="{% static 'meshweb/join_record_viewer.css' %}" />
  <script defer>
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }

      function submitForm(event) {
          event.preventDefault();

          const number = document.getElementById('numberInput').value;
              fetch(`/api/v1/crawl-uisp/nn/${number}/`, {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': getCookie('csrftoken'),
                  },
              })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok ' + response.statusText);
                  }
                  return response.json();
              })
              .then(data => {
                  console.log('Success:', data.status);
                  document.getElementById('output').innerHTML = data.detail;
              })
              .catch(error => {
                  console.error('Error:', error);
                  document.getElementById('output').innerHTML = `Error: ${error.detail}`;
              });
      }
  </script>
</head>
<body>
  {% include "meshweb/nav.html" %}
    <h1>On-Demand™ UISP Import</h1>
    <form id="numberForm" onsubmit="submitForm(event)">
        <label for="numberInput">Network Number:</label>
        <input type="number" id="numberInput" name="numberInput" required>
        <button type="submit">Crawl</button>
    </form>
    <h1 id="output"></h1>
</body>
  {% include "meshweb/footer.html" %}
</html>
