{% load static %}

<!DOCTYPE html>
<head>
  {% include "meshweb/head.html" %}
  <link rel="stylesheet" href="{% static 'meshweb/uisp_on_demand_form.css' %}" />
  <script src="{% static 'meshweb/uisp_on_demand_form.js' %}"></script>
</head>
<body>
  {% include "meshweb/nav.html" %}
  <div class="mainContent">
      <img src="{% static 'meshweb/uispondemand.png' %}" width="256px"/>
      <h1>On-Demand™ UISP Import</h1>
    </div>
  <div class="mainContent">
    <form id="numberForm" onsubmit="submitForm(event)">
        <label for="numberInput">Network Number:</label>
        <input type="number" id="numberInput" name="numberInput" required>
        <button type="submit">Import</button>
    </form>
  </div>
  <div style="padding:48px;">
    <div id="loadingBanner" class="loadingBanner" style="display:none;">
      <h1>Loading...</h1>
    </div>
    <div id="successBanner" class="successBanner" style="display:none;">
      <h1>Success!</h1>
    </div>
    <div id="errorBanner" class="errorBanner" style="display:none;">
      <h1 id="errorDetail">Error:</h1>
    </div>
  </div>
</body>
  {% include "meshweb/footer.html" %}
</html>
