/*
* Not sure why bootstrap does this, but gotta hardcode the bottom margin to not
* Be 0
* */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.max-width-container {
  max-width: 1200px !important;
  padding: 0em 3em;
  /* margin: 0 auto;  */
  /* padding: 10em;  */
}

a {
  color: inherit !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

footer,
nav {
  --bs-bg-opacity: 1;
  background-color: #f4f4f4 !important;
}

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  flex-grow: 1;
}

footer a {
  text-decoration: none;
}

.logo-no-underline a {
  text-decoration: none;
}

.navbar-brand.collapse .text {
  display: none;
}

.mainContent {
  display:flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-content:center;
}

.joinButton {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.meshDbHeader {
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding: 40px 0 0 0;
}

.links {
  display: flex;
  justify-content: center !important;
  column-gap: 3rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
  margin-top: 20px;
}

.toolList {
  display: flex; 
  flex-direction: column;
}

.toolListHeading {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #55585b;
  border-style: solid;
  border-color: #55585b;
  border-width: 0px 0px 1px 0px;
  padding: 10px;
}

.toolListItem {
  display:flex;
  padding: 16px 10px;
}

.toolListItem a {
  text-decoration: none;
}

.toolListItem:hover {
  background-color: #f9e79f;
  border-radius: 5px;
}
