.mainContent {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}

.sideBySide {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h2 {
  padding: 10px 0px;
}


#taskStatusTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 400px;
  border-radius: 5px;
}

#taskStatusTable td, #taskStatusTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#taskStatusTable tr:nth-child(odd){background-color: #f2f2f2;}

#taskStatusTable tr:hover {background-color: #ddd;}

#taskStatusTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4f4f4;
  color: black;
}
