[run]
omit =
    *apps.py,
    */migrations/*,
    settings.py,
    */tests/*,
    */types/*,
    src/meshdb/utils/spreadsheet_import/*,
    *wsgi.py,
    manage.py,
    venv/*
    .venv/*
    integ-tests/*
