[flake8]
max-line-length = 120
extend-ignore = E203
per-file-ignores = **/__init__.py:F401,F403,src/meshapi_hooks/models.py:F401,F403,src/*/migrations/*.py:E501,src/*/tests/*.py:E501,src/meshapi_hooks/tests/test_webhooks.py:E402
exclude = src/meshdb/utils/spreadsheet_import
