version: '3'
services:
  postgres:
    healthcheck:
      test: pg_isready -U ${DB_USER}
      interval: 5s
      timeout: 3s
      retries: 3
      start_period: 5s
    networks:
      - api
    ports:
      - 5432:5432
    image: docker.io/postgres:15-bookworm
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
    networks:
      - api
    ports:
      - 6379:6379
    image:
      redis

  pgadmin:
    networks:
      - api
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}

  pelias:
    networks:
      - api
    ports:
      - 6800:3000
    image: pelias/parser

  meshdb:
    depends_on:
      postgres:
        condition: service_healthy
      redis:
         condition: service_healthy
    healthcheck:
      test: curl http://127.0.0.1:8081/api/v1
      interval: 2s
      timeout: 1s
      retries: 3
      start_period: 2s
    networks:
      - api
    env_file:
      - .env
    volumes:
      - static_files:/opt/meshdb/static
    image: willnilges/meshdb:main

  nginx:
    depends_on:
      meshdb:
        condition: service_healthy
    networks:
      - api
    expose:
      - 80
    # Useful for debugging, but should be commented out otherwise.
    #ports:
    #  - 80:80
    #   - 443:443
    image: nginx
    labels:
      - "traefik.enable=true"
      - "traefik.port=80"
        # .nycmesh.net URL (with HTTPS)
      - "traefik.http.routers.meshdb.rule=Host(`db.grandsvc.mesh.nycmesh.net`)"
      - "traefik.http.routers.meshdb.entrypoints=websecure"
      - "traefik.http.routers.meshdb.tls=true"
      - "traefik.http.routers.meshdb.tls.certresolver=grandsvcresolver"
        # .nycmesh.net Redirect insecure traffic
      - "traefik.http.routers.meshdb-insecure.rule=Host(`db.grandsvc.mesh.nycmesh.net`)"
      - "traefik.http.routers.meshdb-insecure.entrypoints=web"
      - "traefik.http.middlewares.meshdb-https.redirectscheme.scheme=https"
      - "traefik.http.routers.meshdb-insecure.middlewares=meshdb-https@docker"
        # .mesh URL
      - "traefik.http.routers.meshdb-mesh.rule=Host(`db.grandsvc.mesh`)"
      - "traefik.http.routers.meshdb-mesh.entrypoints=web"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - static_files:/var/www/html/static

volumes:
  postgres_data:
  static_files:

networks:
  api:
    external: $COMPOSE_EXTERNAL_NETWORK
    name: $COMPOSE_NETWORK_NAME
