[project]
name = "nycmesh-meshdb"
version = "0.1"
dependencies = [
    "celery[redis]==5.3.*",
    "django==4.2.*",
    "djangorestframework==3.14.*",
    "django-webhook>=0.0.7,<0.1.0",
    "psycopg2-binary==2.9.*",
    "gunicorn==21.2.*",
    "python-dotenv==1.0.*",
    "stringcase==1.2.*",
    "python-dotenv==1.0.*",
    "py3-validate-email@git+https://gitea.ksol.io/karolyi/py3-validate-email#egg=@v1.0.9",
    "phonenumbers==8.13.*",
    "requests==2.31.*",
    "geopy==2.4.*",
    "django-cors-headers==4.3.*",
    "nameparser==1.1.*",
    "inflect==7.0.*",
]

[project.optional-dependencies]
dev = [
    "invoke == 2.2.*",
    "pytest == 7.4.*",
    "flake8 == 6.1.*",
    "black == 23.7.*",
    "isort == 5.12.*",
    "coverage == 7.3.*",
    "mypy == 1.5.*"
]

[project.scripts]
meshdb-spreadsheet-import = "meshdb.utils.spreadsheet_import.main:main"

[build-system]
requires = [ "setuptools >= 61", "wheel", "mypy" ]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]


[tool.mypy]
check_untyped_defs = true
show_error_codes = true
pretty = true
ignore_missing_imports = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
warn_unused_configs = true


[tool.black]
line-length = 120
include = '\.pyi?$'


[tool.isort]
profile = "black"
line_length = 120
known_first_party = [ "meshdb" ]

