<div id="dateMissingWarningTemplate" class="warning-box">
    <p>
        <b>Warning</b>: Status set to <span id="statusText"></span> without setting <span id="dateTypeText"></span> Date
    </p>
    <a id="saveCurrentDateButton" class="button" href="#" style="padding: 10px 15px; display: inline-block; text-decoration: none;">
        Use Today's Date
    </a>
    <a id="saveNoDateButton" class="button" href="#" style="padding: 10px 15px; display: inline-block; margin-left: 10px; text-decoration: none;">
        Continue Without Setting Date
    </a>
</div>
