{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'meshweb/logo.svg' %}" />
    <link href="/static/admin/map/static/css/1.3be5418b.chunk.css" rel="stylesheet">
    <link href="/static/admin/map/static/css/main.8ad7eb45.chunk.css" rel="stylesheet">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'meshweb/logo.svg' %}" height="30px" class="header-logo"/>{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}


{% block nav-breadcrumbs %}
    {{ block.super }}
    {% include "admin/read_only_warning_box.html" %}
{% endblock %}