{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'meshweb/favicon.png' %}" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'meshweb/logo.svg' %}" height="30px" class="header-logo"/>{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    <a href="#" class="hidden" style="margin-left: 5px; vertical-align: middle; border: none;" id="show_map_button">
        <img src="{% static '/admin/map/img/map.png' %}" height="16px" title="Show Map">
    </a>
{% endblock %}