{% load static %}

{% load env_extras %}

<!DOCTYPE html>
<html>
  <head>
    <script>let MAP_BASE_URL = "{% get_env_var 'ADMIN_MAP_BASE_URL' %}";</script>
    <script src="{% static '/admin/map.js' %}"></script>
    <link rel="stylesheet" href="{% static '/admin/iframed.css'%}"/> 
  </head>
  <body>
    <!--
    <p id="admin_panel_url_bar"></p>
    <p id="map_url_bar"></p>
    -->
    <div class="adminContainer">
      <iframe src="panel" id="admin_panel_iframe" class="frameGrow" onLoad="updateMapLocation();"></iframe>
      <iframe src="{% get_env_var 'ADMIN_MAP_BASE_URL' %}" id="map_panel" class="frameGrow"></iframe>
    </div>
  </body>
</html>
