
{% load static %}

{% load env_extras %}

<div id="map">
    <div class="handle" id="handle">
        <span class="vert-align-helper"></span>
        <img class="handlebar" src="{% static '/admin/map/img/handlebar.svg' %}" height="60px"/>
    </div>
    <div class="floating-button">
        <a href="#" class="button" style="display: inline-block" id="map_hide_button">
            <img src="{% static '/admin/map/img/cross.png' %}" height="24px" title="Hide Map">
        </a>
    </div>
    <div class="floating-button-below">
        <a href="#" class="button" style="display: inline-block" id="map_recenter_button">
            <img src="{% static '/admin/map/img/recenter.png' %}" height="24px" title="Recenter map">
        </a>
    </div>
    <div id="map-inner"></div>
    <div id="map-scripts" style="display: none"></div>
    <script src="{% static '/admin/intercept.js' %}"></script>
    <script>let MAP_BASE_URL = "{% get_env_var 'ADMIN_MAP_BASE_URL' %}";</script>
    <!--<script src="{% static '/admin/map.js' %}"></script>-->
</div>

