# Default values for meshdb.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

meshdb_app_namespace: "meshdbdev0"

pg:
  dbname: meshdb
  user: meshdb
  port: "5432"
  pvc_name: "meshdb-postgres-pvc"
  pvc_size: "20Gi"
  liveness_probe: "true"
  podSecurityContext: {}
  # fsGroup: 2000
  securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
  resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
  nodeSelector: {}
  affinity: {}
  tolerations: []

meshweb:
  port: 8081
  backup_s3_bucket_name: meshdb-data-backups
  backup_s3_base_folder: "meshdb-backups/development/"
  enable_debug: "False"
  disable_profiling: "True"
  disable_pano_edits: "True"
  static_pvc_name: "meshdb-static-pvc"
  static_pvc_size: "1Gi"
  liveness_probe: "true"
  image:
    repository: willnilges/meshdb
    tag: main
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

nginx:
  server_name: "db.nycmesh.net"
  port: 80
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

uisp:
  url: "https://uisp.mesh.nycmesh.net/nms"
  user: "nycmesh_readonly"

redis:
  liveness_probe: "true"
  port: 6379
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

pelias:
  port: 6800
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  nodeSelector: {}
  affinity: {}
  tolerations: []

map:
  base_url: "http://admin-map.grandsvc.mesh.nycmesh.net"

image:
  pullPolicy: Always

nameOverride: ""
fullnameOverride: "meshdb"

#serviceAccount:
#  # Specifies whether a service account should be created
#  create: true
#  # Automatically mount a ServiceAccount's API credentials?
#  automount: true
#  # Annotations to add to the service account
#  annotations: {}
#  # The name of the service account to use.
#  # If not set and create is true, a name is generated using the fullname template
#  name: ""

podAnnotations: {}
podLabels: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
