- name: Install packages on each node 
  hosts: mgrs:workers 
  tasks:
    - name: Install packages on each node
      ansible.builtin.apt:
        pkg:
          - open-iscsi
          - nfs-common
        update_cache: true
      become: true
