frr version 8.4.4
frr defaults traditional
hostname {{ LB_HOSTNAME }}
log syslog informational
no ip forwarding
no ipv6 forwarding
service integrated-vtysh-config
!
interface eth0
 ip ospf cost 10
exit
!
router ospf
 network {{ INTERNAL_NETWORK_BLOCK }} area 0
 network {{ EXTERNAL_LISTEN_IP }}/32 area 0
exit
!