/* CSS Styles for additional elements added to the admin UI */

.header-logo {
    margin-right: 5px;
    margin-top: -5px;
}

.warning-box {
    background-color: #ffe167;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    /*margin-bottom: 5px;*/
    border-radius: 4px;
    border: black 2px solid;
    color: black;
}

/* This is an override of the styles at admin/css/login.css in the admin site */
.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 40em !important;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

/* This is an override of the styles at admin/css/login.css in the admin site */
.login #main {
    width: 28em;
    margin: auto;
    margin-top: 0px;
}

.main.shifted {
    min-width: 975px !important;
}

#map-wrapper {
    display: flex;
    overflow: hidden;
    flex: 1 1 auto;
    margin-bottom: 10px;
    flex-shrink: 1 !important;
}
#map-wrapper .main {
    display: flex;
    flex: 1 0 auto;
    overflow-y: auto;
    flex-direction: row;
    min-width: 700px;
}

#map {
    display: flex;
    margin-right: 10px;
    flex: 1 1 auto;
}

#map-inner {
    display: flex;
    flex-grow: 1;
}

/* Styles for the left and right resizable divs */
.left, .right {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: auto;
}

/* Styles for the draggable handle */
.handle {
    width: 10px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: ew-resize;
    background-color: var(--secondary);
    flex-grow: 0;

    display: block;
    text-align: center;
    white-space: nowrap;
}

.vert-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.handlebar {
    vertical-align: middle;
    margin-left: -4px; /* IDK why this is needed CSS is voodoo */
}


/* Fix missing maps styles */
.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.gm-control-active > img:nth-child(1) {
    display:block;
}

.gm-control-active:hover > img:nth-child(1),
.gm-control-active:active > img:nth-child(1) {
    display:none;
}

.gm-control-active:hover > img:nth-child(2),
.gm-control-active:active > img:nth-child(3) {
    display:block;
}