/* CSS Styles for additional elements added to the admin UI */

.header-logo {
    margin-right: 5px;
    margin-top: -5px;
}

.warning-box {
    background-color: #ffe167;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    /*margin-bottom: 5px;*/
    border-radius: 4px;
    border: black 2px solid;
}

/* This is an override of the styles at admin/css/login.css in the admin site */
.login #container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 40em !important;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

/* This is an override of the styles at admin/css/login.css in the admin site */
.login #main {
    width: 28em;
    margin: auto;
    margin-top: 0px;
}
