name: Build Image
permissions: read-all

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      image_tag:
        required: true
        type: string
    outputs:
      image_digest:
        description: "Digest of the built image"
        value: ${{ jobs.push_to_registry_env.outputs.image_digest }}

jobs:
  push_to_registry_env:
    name: Push Docker Image to Docker Hub
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      image_digest: ${{ steps.build.outputs.digest }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: willnilges/meshdb

      - name: Build and push Docker image
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ inputs.image_tag }}
          labels: ${{ steps.meta.outputs.labels }}
