name: Make sure Debug mode is OFF!

on: [pull_request]

permissions: read-all

jobs:
  is-debug-off:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v4
        with:
          python-version: '3.11'
      - name: "Upgrade pip"
        run: "pip install --upgrade pip"
      - name: "Install package"
        run: pip install ".[dev]"
      - name: "Your PR is not running in debug mode"
        run: cd src && python3 -c "import meshdb.settings; assert meshdb.settings.DEBUG == False"
