name: Make sure Debug mode is OFF!

on: [pull_request]

permissions: read-all

jobs:
  is-debug-off:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v4
        with:
          python-version: '3.11'
      - name: "Upgrade pip"
        run: "pip install --upgrade pip"
      - name: "Install package"
        run: pip install ".[dev]"
      - name: "Your PR is not running in debug mode"
        run: cd src && python3 -c "import meshdb.settings; assert meshdb.settings.DEBUG == False"
