name: Publish and Deploy
# Combined these two workflows for visbility

on:
  push:
    branches: [ main, james/dev640 ]
  workflow_dispatch:
    branches:
      - main

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Dev and Prod use the same image
  push_to_registry_prod:
    name: Push to prod
    uses: ./.github/workflows/build-push-image.yaml
    with:
      environment: prod
      image_tag: willnilges/meshdb:main
    secrets: inherit
    if: github.ref == 'refs/heads/main'

  deploy_to_dev3:
    name: Deploy to dev 3
    uses: ./.github/workflows/deploy-to-k8s.yaml
    with:
      environment: dev3
      useTag: main 
    secrets: inherit
    #needs: push_to_registry_prod
    # if: github.ref == 'refs/heads/main'

  integration_test_dev3:
    name: Integration test dev 3
    uses: ./.github/workflows/run-integ-tests.yaml
    with:
      environment: dev3
    secrets: inherit
    needs: deploy_to_dev3
    if: github.ref == 'refs/heads/main'

  deploy_to_prod2:
    name: Deploy to prod2
    uses: ./.github/workflows/deploy-to-k8s.yaml
    with:
      environment: prod2
      useTag: main 
    secrets: inherit
    needs: integration_test_dev3
    if: github.ref == 'refs/heads/main'
