name: Run Django Tests

on: 
  pull_request:

jobs:
  run-django-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: nycmesh-dev
          POSTGRES_USER: nycmesh
          POSTGRES_PASSWORD: abcd1234
          POSTGRES_PORT: 5432
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      pelias:
        image: pelias/parser:latest
        ports:
          - 6800:3000
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    steps:
      - uses: actions/checkout@v3
      - name: "Upgrade pip"
        run: "pip install --upgrade pip"
      - name: "Install package"
        run: pip install ".[dev]"
      - name: Run Django Tests
        env:
          DB_NAME: nycmesh-dev
          DB_USER: nycmesh
          DB_PASSWORD: abcd1234
          DB_HOST: localhost
          DB_PORT: 5432
          DJANGO_SECRET_KEY: k7j&!u07c%%97s!^a_6%mh_wbzo*$hl4lj_6c2ee6dk)y9!k88
          PELIAS_ADDRESS_PARSER_URL: http://localhost:6800/parser/parse
        run: python3 src/manage.py test meshapi
